@font-face {font-family: "icon";
  src: url('icon.eot?t=1694212744087'); /* IE9*/
  src: url('icon.eot?t=1694212744087#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1694212744087") format("woff2"),
  url("icon.woff?t=1694212744087") format("woff"),
  url('icon.ttf?t=1694212744087') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1694212744087#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-AGGR:before { content: "\ea01"; }
.icon-BINANCE:before { content: "\ea02"; }
.icon-BINANCE_FUTURES:before { content: "\ea03"; }
.icon-BINANCE_US:before { content: "\ea04"; }
.icon-BITFINEX:before { content: "\ea05"; }
.icon-BITGET:before { content: "\ea06"; }
.icon-BITMART:before { content: "\ea07"; }
.icon-BITMEX:before { content: "\ea08"; }
.icon-BITSTAMP:before { content: "\ea09"; }
.icon-BYBIT:before { content: "\ea0a"; }
.icon-COINBASE:before { content: "\ea0b"; }
.icon-COINEX:before { content: "\ea0c"; }
.icon-CRYPTOCOM:before { content: "\ea0d"; }
.icon-DERIBIT:before { content: "\ea0e"; }
.icon-DYDX:before { content: "\ea0f"; }
.icon-FTX:before { content: "\ea10"; }
.icon-GATEIO:before { content: "\ea11"; }
.icon-HITBTC:before { content: "\ea12"; }
.icon-HUOBI:before { content: "\ea13"; }
.icon-KRAKEN:before { content: "\ea14"; }
.icon-KUCOIN:before { content: "\ea15"; }
.icon-MEXC:before { content: "\ea16"; }
.icon-OKEX:before { content: "\ea17"; }
.icon-PHEMEX:before { content: "\ea18"; }
.icon-POLONIEX:before { content: "\ea19"; }
.icon-UNISWAP:before { content: "\ea1a"; }
.icon-ada:before { content: "\ea1b"; }
.icon-add-photo:before { content: "\ea1c"; }
.icon-bear:before { content: "\ea1d"; }
.icon-bitcoin:before { content: "\ea1e"; }
.icon-bps:before { content: "\ea1f"; }
.icon-btc:before { content: "\ea20"; }
.icon-bull:before { content: "\ea21"; }
.icon-candlestick:before { content: "\ea22"; }
.icon-check:before { content: "\ea23"; }
.icon-click:before { content: "\ea24"; }
.icon-cog:before { content: "\ea25"; }
.icon-coin:before { content: "\ea26"; }
.icon-copy-paste:before { content: "\ea27"; }
.icon-cross:before { content: "\ea28"; }
.icon-dashboard:before { content: "\ea29"; }
.icon-dollar:before { content: "\ea2a"; }
.icon-down-thin:before { content: "\ea2b"; }
.icon-down:before { content: "\ea2c"; }
.icon-download:before { content: "\ea2d"; }
.icon-dropper:before { content: "\ea2e"; }
.icon-edit:before { content: "\ea2f"; }
.icon-enlarge:before { content: "\ea30"; }
.icon-eos:before { content: "\ea31"; }
.icon-eraser:before { content: "\ea32"; }
.icon-eth:before { content: "\ea33"; }
.icon-euro:before { content: "\ea34"; }
.icon-external-link-square-alt:before { content: "\ea35"; }
.icon-flash:before { content: "\ea36"; }
.icon-flip:before { content: "\ea37"; }
.icon-gauge:before { content: "\ea38"; }
.icon-github:before { content: "\ea39"; }
.icon-hidden:before { content: "\ea3a"; }
.icon-info:before { content: "\ea3b"; }
.icon-iota:before { content: "\ea3c"; }
.icon-lab:before { content: "\ea3d"; }
.icon-locked:before { content: "\ea3e"; }
.icon-ltc:before { content: "\ea3f"; }
.icon-menu:before { content: "\ea40"; }
.icon-merge:before { content: "\ea41"; }
.icon-minus:before { content: "\ea42"; }
.icon-monero:before { content: "\ea43"; }
.icon-more:before { content: "\ea44"; }
.icon-move:before { content: "\ea45"; }
.icon-ms:before { content: "\ea46"; }
.icon-music-note:before { content: "\ea47"; }
.icon-neo:before { content: "\ea48"; }
.icon-pile:before { content: "\ea49"; }
.icon-plus:before { content: "\ea4a"; }
.icon-pound:before { content: "\ea4b"; }
.icon-refresh:before { content: "\ea4c"; }
.icon-resize-height:before { content: "\ea4d"; }
.icon-resize:before { content: "\ea4e"; }
.icon-save:before { content: "\ea4f"; }
.icon-search:before { content: "\ea50"; }
.icon-skull:before { content: "\ea51"; }
.icon-stamp:before { content: "\ea52"; }
.icon-star-filled:before { content: "\ea53"; }
.icon-star:before { content: "\ea54"; }
.icon-switch:before { content: "\ea55"; }
.icon-trash:before { content: "\ea56"; }
.icon-trx:before { content: "\ea57"; }
.icon-unlocked:before { content: "\ea58"; }
.icon-up-thin:before { content: "\ea59"; }
.icon-up:before { content: "\ea5a"; }
.icon-upload:before { content: "\ea5b"; }
.icon-visible:before { content: "\ea5c"; }
.icon-volume-high:before { content: "\ea5d"; }
.icon-volume-medium:before { content: "\ea5e"; }
.icon-volume-off:before { content: "\ea5f"; }
.icon-warning:before { content: "\ea60"; }
.icon-xmr:before { content: "\ea61"; }
.icon-xrp:before { content: "\ea62"; }
.icon-yen:before { content: "\ea63"; }

$icon-AGGR: "\ea01";
$icon-BINANCE: "\ea02";
$icon-BINANCE_FUTURES: "\ea03";
$icon-BINANCE_US: "\ea04";
$icon-BITFINEX: "\ea05";
$icon-BITGET: "\ea06";
$icon-BITMART: "\ea07";
$icon-BITMEX: "\ea08";
$icon-BITSTAMP: "\ea09";
$icon-BYBIT: "\ea0a";
$icon-COINBASE: "\ea0b";
$icon-COINEX: "\ea0c";
$icon-CRYPTOCOM: "\ea0d";
$icon-DERIBIT: "\ea0e";
$icon-DYDX: "\ea0f";
$icon-FTX: "\ea10";
$icon-GATEIO: "\ea11";
$icon-HITBTC: "\ea12";
$icon-HUOBI: "\ea13";
$icon-KRAKEN: "\ea14";
$icon-KUCOIN: "\ea15";
$icon-MEXC: "\ea16";
$icon-OKEX: "\ea17";
$icon-PHEMEX: "\ea18";
$icon-POLONIEX: "\ea19";
$icon-UNISWAP: "\ea1a";
$icon-ada: "\ea1b";
$icon-add-photo: "\ea1c";
$icon-bear: "\ea1d";
$icon-bitcoin: "\ea1e";
$icon-bps: "\ea1f";
$icon-btc: "\ea20";
$icon-bull: "\ea21";
$icon-candlestick: "\ea22";
$icon-check: "\ea23";
$icon-click: "\ea24";
$icon-cog: "\ea25";
$icon-coin: "\ea26";
$icon-copy-paste: "\ea27";
$icon-cross: "\ea28";
$icon-dashboard: "\ea29";
$icon-dollar: "\ea2a";
$icon-down-thin: "\ea2b";
$icon-down: "\ea2c";
$icon-download: "\ea2d";
$icon-dropper: "\ea2e";
$icon-edit: "\ea2f";
$icon-enlarge: "\ea30";
$icon-eos: "\ea31";
$icon-eraser: "\ea32";
$icon-eth: "\ea33";
$icon-euro: "\ea34";
$icon-external-link-square-alt: "\ea35";
$icon-flash: "\ea36";
$icon-flip: "\ea37";
$icon-gauge: "\ea38";
$icon-github: "\ea39";
$icon-hidden: "\ea3a";
$icon-info: "\ea3b";
$icon-iota: "\ea3c";
$icon-lab: "\ea3d";
$icon-locked: "\ea3e";
$icon-ltc: "\ea3f";
$icon-menu: "\ea40";
$icon-merge: "\ea41";
$icon-minus: "\ea42";
$icon-monero: "\ea43";
$icon-more: "\ea44";
$icon-move: "\ea45";
$icon-ms: "\ea46";
$icon-music-note: "\ea47";
$icon-neo: "\ea48";
$icon-pile: "\ea49";
$icon-plus: "\ea4a";
$icon-pound: "\ea4b";
$icon-refresh: "\ea4c";
$icon-resize-height: "\ea4d";
$icon-resize: "\ea4e";
$icon-save: "\ea4f";
$icon-search: "\ea50";
$icon-skull: "\ea51";
$icon-stamp: "\ea52";
$icon-star-filled: "\ea53";
$icon-star: "\ea54";
$icon-switch: "\ea55";
$icon-trash: "\ea56";
$icon-trx: "\ea57";
$icon-unlocked: "\ea58";
$icon-up-thin: "\ea59";
$icon-up: "\ea5a";
$icon-upload: "\ea5b";
$icon-visible: "\ea5c";
$icon-volume-high: "\ea5d";
$icon-volume-medium: "\ea5e";
$icon-volume-off: "\ea5f";
$icon-warning: "\ea60";
$icon-xmr: "\ea61";
$icon-xrp: "\ea62";
$icon-yen: "\ea63";

