.autocomplete {
  position: relative;

  &__wrapper {
    width: 100%;
    display: flex;
    background-color: $base;
    border-radius: 3px;
    overflow: hidden;
    align-items: stretch;
    z-index: 1;
    position: relative;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 0.25rem;
  }

  &__item {
    color: white;
    flex-basis: auto;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(black, 0.35);
    background-color: rgba(black, 0.2);
    transition: background-color 0.2s $ease-out-expo, box-shadow 0.2s $ease-out-expo;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 1px rgba($blue, 0.75);
      background-color: rgba($blue, 0.5);
    }
  }

  &__input,
  &__item {
    -webkit-appearance: none;
    appearance: none;
    padding: 0.5rem;
    margin: 0.25rem;
    line-height: 1;
  }

  &__input {
    flex-grow: 1;
    text-transform: uppercase;
    color: white;
  }

  &__dropdown {
    border-radius: $border-radius-base;
    background-color: $lighter;
    margin-left: -0.6rem;
    margin-right: -0.6rem;

    animation: 0.4s $ease-elastic autocomplete-dropdown-in;
  }

  &__scroller {
    overflow: auto;
    max-height: 50vh;
    border-radius: $border-radius-base - 2;
  }

  &__option {
    padding: 0.4rem 0.6rem;
    transition: padding 0.2s $ease-out-expo, color 0.2s $ease-out-expo;
    cursor: pointer;
    border-bottom: 1px solid rgba(black, 10%);
    color: rgba(white, 0.5);

    &:hover,
    &.active {
      color: rgba(white, 1);
    }

    &:hover {
      padding-left: 0.75rem;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__submit {
    justify-content: center;
    flex-shrink: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
    width: 0;
    padding: 0;
    transition: width 0.2s $ease-elastic;

    &.btn {
      border: 0;
    }

    &.active {
      width: 3rem;
      margin-left: -1px;
    }
  }
}

@keyframes autocomplete-dropdown-in {
  0% {
    transform: translateY(-32px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
