.badge {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  text-transform: uppercase;
  font-family: $font-condensed;
  font-size: 0.75em;
  padding: 0.45em 0.5em;
  border-radius: 4px;
  color: inherit;
  line-height: 1;
  flex-shrink: 0;
  cursor: pointer;
  background-color: $red;
  color: var(--theme-color-base);
  font-weight: 600;

  &.-small {
    padding: 0.2em 0.25em;
  }

  &.-compact {
    padding: 0.25em 0.2em;
    font-weight: 600;
    line-height: 0.6;
    margin-top: 2px;
    font-size: 1em;
    font-weight: 600;
  }

  &.-invert {
    background-color: var(--theme-color-base);
    color: var(--theme-background-base);
  }
}
