.badge {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed';
  font-size: 0.75em;
  padding: 0.45em 0.5em;
  border-radius: 4px;
  color: inherit;
  line-height: 1;
  flex-shrink: 0;
  cursor: pointer;
  background-color: $red;
  color: white;
  font-weight: 600;
}
