button {
  color: inherit;
  font-family: inherit;
  text-align: left;

  &.-arrow {
    &:after {
      content: unicode($icon-down-thin);
      font-family: 'icon';
      position: relative;
      line-height: 0;
      transition: transform 0.2s cubic-bezier(0, 1.4, 1, 1);
      margin-left: auto;
      padding: 0 0.25em;
    }

    &.dropdown-trigger:after {
      transform: rotateZ(180deg);
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  text-transform: uppercase;
  font-family: $font-condensed;
  padding: 0.5em;
  border: 0;
  border-radius: 0.25rem;
  color: inherit;
  line-height: 1;
  flex-shrink: 0;
  cursor: pointer;
  background-color: var(--theme-buy-base);
  color: var(--theme-buy-color);

  .btn__suffix {
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem 0.5rem;
    border-radius: 0 0.25rem 0.25rem 0;

    &:hover {
      background-color: rgba(white, 0.2);
    }
  }

  .lds-spinner {
    font-size: inherit;
    margin-left: 0.5em;
  }

  &.-loading {
    pointer-events: none;
  }

  &:focus {
    box-shadow: 0 0 0 6px rgba($green, 0.1);

    &.-text {
      box-shadow: none;
      background: var(--theme-color-o20);
    }
  }

  &:hover {
    background-color: var(--theme-buy-100);
    color: var(--theme-buy-color);

    &.-text {
      color: var(--theme-color-base);
    }
  }

  &:active {
    transform: translateY(1px);
  }

  &.-block {
    width: 100%;
  }

  &.-small {
    font-size: 0.75em;
  }

  &.-large {
    font-size: 1.125em;
  }

  &.-outline {
    background: 0;
    color: var(--theme-color-base);
  }

  &[disabled] {
    pointer-events: none;
  }

  &.-cases {
    text-transform: none;
  }

  &.-icon {
    width: 2rem;
    height: 2rem;
    text-align: center;
  }

  &.-red {
    background-color: var(--theme-sell-base);
    border: 1px solid var(--theme-sell-base);
    color: var(--theme-sell-color);

    &.-text {
      color: var(--theme-sell-100);
    }

    &.-outline {
      color: var(--theme-sell-base);
      background: 0;

      &:hover {
        color: var(--theme-sell-color);
        border-color: var(--theme-sell-100);
      }
    }

    &:hover {
      background-color: var(--theme-sell-100);
      border-color: var(--theme-sell-100);

      &.-text {
        background: 0;
        color: var(--theme-sell-100);
        border-color: transparent;
      }
    }
  }

  &.-blue {
    color: white;
    background-color: $blue;
    border: 1px solid $blue;

    &.-text {
      color: $blue;

      &:focus {
        background-color: rgba($blue, 0.2);
      }
    }

    &.-outline {
      color: $blue;
      background: 0;

      &:hover {
        color: white;
        border-color: lighten($blue, 10%);
      }
    }

    &:hover {
      background-color: lighten($blue, 10%);
      border-color: lighten($blue, 10%);

      &.-text {
        background: 0;
        color: lighten($blue, 10%);
        border-color: transparent;
      }
    }
  }

  &.-green {
    background-color: var(--theme-buy-base);
    border: 1px solid var(--theme-buy-base);
    color: var(--theme-buy-color);

    &.-text {
      color: var(--theme-buy-base);
    }

    &.-outline {
      color: var(--theme-buy-base);
      background: 0;

      &:hover {
        color: var(--theme-buy-color);
        border-color: var(--theme-buy-100);
      }
    }

    &:hover {
      background-color: var(--theme-buy-100);
      border-color: var(--theme-buy-100);

      &.-text {
        background: 0;
        color: var(--theme-buy-100);
        border-color: transparent;
      }
    }
  }

  &.-text {
    background-color: transparent;
    border: transparent 1px solid;
    color: var(--theme-color-base);
  }

  &.-file {
    position: relative;

    input[type='file'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
  }

  &.-pill {
    position: relative;

    .badge {
      top: -0.25rem;
      right: -0.33rem;
      position: absolute;
      z-index: 1;

      + span {
        padding-right: 0.5em;
      }
    }

    &.-small .badge + span {
      padding-right: 0.25em;
    }
  }
}

a {
  color: currentColor;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: currentColor;
  }

  &.-text {
    text-decoration: none;
  }
}

.btn-group {
  .btn {
    border-radius: 0;
    margin: 0;
  }

  .btn:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .btn:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}
