.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;

  &.-internal-scroll .dialog-body {
    overflow: hidden;
  }

  &.-loading {
    .dialog-body {
      box-shadow: none;
      pointer-events: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--theme-background-o20);
        z-index: 1;
      }
    }
  }

  &.-mask {
    pointer-events: all;
    background-color: var(--theme-background-o20);
  }

  .dialog-content {
    max-width: 500px;
    border-radius: $border-radius-base;
    background-color: var(--theme-background-100);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    color: var(--theme-color-100);
    overflow: hidden;
    pointer-events: all;

    .dialog-body {
      overflow: auto;
      max-height: 66vh;
      padding: 1rem;
    }

    header {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      padding: 1rem;
      border-bottom: 1px solid var(--theme-background-150);
      cursor: grab;

      > .btn {
        align-self: center;
        span {
          display: none;
        }

        @media screen and (min-width: 580px) {
          span {
            display: block;
          }
        }
      }

      .checkbox-control > input:not(:checked) + div {
        background: 0;
      }
    }

    .title {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
      letter-spacing: 1px;
      font-size: 1.125em;
      line-height: 1;
      font-family: $font-condensed;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &.-editable {
        cursor: text;
      }
    }

    .subtitle {
      display: inline-block;
      margin-top: 0.25rem;
      font-size: 80%;
      opacity: 0.75;
      white-space: normal;
      text-transform: none;
      letter-spacing: 0;
    }

    p {
      white-space: pre-wrap;
      line-height: 1.4;
    }

    footer {
      display: flex;
      padding: 1rem 1rem 0;
      justify-content: flex-end;
      border-top: 1px solid var(--theme-background-150);

      margin: 1.25rem -0.9rem 0;
    }

    section {
      margin: 0 -1rem;
    }
  }

  &.-small .dialog-content {
    max-width: 420px;
  }

  &.-medium .dialog-content {
    width: 520px;
    max-width: calc(100% - 2rem);
  }

  &.-auto .dialog-content {
    max-width: 90%;
  }

  @media screen and (max-width: 580px) {
    &.-mobile-fs {
      z-index: 10;

      .dialog-content {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        transform: none !important;
        border-radius: 0;
      }

      .dialog-body {
        max-height: 100%;
      }
    }
  }

  &.-sticky-footer {
    footer {
      background-color: var(--theme-background-100) !important;
      flex-basis: 100%;
      margin: 0;
      padding: 1rem;
      position: sticky;
      bottom: 0;
      z-index: 1;
      margin-top: auto;
      flex-basis: 0;
      flex-shrink: 0;
    }

    section {
      margin: 0;
    }

    .dialog-body {
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .dialog-controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    &__close {
      width: 2rem;
      text-align: center;
      padding: 1rem;
      margin: -1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;

      &:hover {
        background-color: var(--theme-color-o10);
      }

      > i {
        vertical-align: middle;
      }
    }

    > * {
      margin-left: 15px;
    }
  }

  hr {
    margin: 1rem 0;
    border: 0;
    height: 0.5px;
    background: var(--theme-background-150);
    flex-shrink: 0;

    &.-vertical {
      margin: 0 1rem;
      height: auto;
      width: 0.5px;
    }
  }
}
