.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;

  &.-mask {
    background-color: var(--theme-background-o20);
    pointer-events: all;
  }

  .dialog-content {
    min-width: 320px;
    max-width: 500px;
    border-radius: $border-radius-base;
    background-color: var(--theme-background-100);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    color: var(--theme-color-100);
    overflow: hidden;
    pointer-events: all;

    .dialog-body {
      overflow: auto;
      max-height: 69vh;
      padding: 1rem;
    }

    header {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      padding: 1rem;
      border-bottom: 1px solid var(--theme-background-150);
      cursor: grab;

      .checkbox-control > input:not(:checked) + div {
        background: 0;
      }
    }

    .title {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
      letter-spacing: 1px;
      font-size: 1.125em;
      line-height: 1;
      font-family: 'Barlow Semi Condensed';
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &.-editable {
        cursor: text;
      }
    }

    .subtitle {
      display: block;
      margin-top: 0.25rem;
      font-size: 80%;
      opacity: 0.75;
      white-space: normal;
      text-transform: none;
      letter-spacing: 0;
    }

    p {
      white-space: pre-wrap;
      line-height: 1.4;
    }

    footer {
      display: flex;
      padding: 1rem 1rem 0;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid var(--theme-background-150);

      margin: 1.25rem -0.9rem 0;

      .btn {
        margin-left: 0.4rem;
      }
    }

    section {
      margin: 0 -1rem;
    }
  }

  &.-small .dialog-content {
    max-width: 320px;
  }

  &.-medium .dialog-content {
    width: 520px;
    max-width: calc(100% - 2rem);
  }

  &.-auto .dialog-content {
    max-width: 90%;
  }

  &.-sticky-footer {
    footer {
      position: sticky;
      bottom: -1px;
      background-color: var(--theme-background-100);
      box-shadow: 0 -1px var(--theme-background-150);
      border-top: 0;
      flex-basis: 100%;

      margin: 1rem -1rem 0;
      padding: 1rem;
    }

    .dialog-body {
      padding-bottom: 0;

      @media screen and (min-width: 768px) {
        flex-wrap: wrap;
      }
    }
  }

  .verte-control {
    margin-left: auto;
  }

  .dialog-controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    &__close {
      width: 2rem;
      text-align: center;
      padding: 1rem;
      margin: -1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;

      &:hover {
        background-color: rgba(white, 0.02);
      }

      &:active {
        background-color: rgba(black, 0.1);
      }

      > i {
        vertical-align: middle;
      }
    }

    > * {
      margin-left: 15px;
    }
  }

  hr {
    margin: 1rem 0;
    border: 0;
    height: 0.5px;
    background: var(--theme-background-150);
    flex-shrink: 0;

    &.-vertical {
      margin: 0 1rem;
      height: auto;
      width: 0.5px;
    }
  }
}

#app.-light .dialog {
  .dialog-content {
    textarea {
      background-color: rgba(white, 0.5);
    }
  }
}
