@keyframes appear-from-above {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;

  &__selected.-arrow {
    &:after {
      content: unicode($icon-down);
      transform: rotateZ(180deg);
      font-family: 'icon';
      padding: 0 0.2em;
      position: relative;
      top: 1px;
      line-height: 1;
      transition: transform 0.2s cubic-bezier(0, 1.4, 1, 1);
    }

    &:last-child:after {
      transform: none;
    }
  }

  &.-left,
  &.-text-left {
    .dropdown__options {
      .dropdown__option {
        justify-content: flex-start;
        padding: 0.75em 1em 0.75em;
      }
    }
  }

  &.-top {
    .dropdown__options {
      bottom: 2rem;
      top: auto;
    }
  }

  &.-left {
    .dropdown__options {
      right: auto;
      left: 0.6em;
    }
  }

  &__selected {
    position: relative;
    cursor: pointer;
  }

  &__options {
    &.dropdown-enter-active {
      animation: dropdown-enter-bottom 0.2s $ease-out-expo;
    }

    &.dropdown-leave-active {
      animation: dropdown-leave-bottom 0.2s $ease-out-expo;
    }

    font-size: 1rem;
    position: absolute;
    top: 2rem;
    right: 0.6em;
    overflow: hidden;
    text-align: right;
    min-width: 5em;
    margin: 0;
    padding: 0;
    z-index: 1000;
    border-radius: $border-radius-small;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    white-space: nowrap;
    cursor: pointer;

    &.-upside-down {
      bottom: 2rem;
      top: auto;

      &.dropdown-enter-active {
        animation: dropdown-enter-top 0.2s $ease-out-expo;
      }

      &.dropdown-leave-active {
        animation: dropdown-leave-top 0.2s $ease-out-expo;
      }
    }
  }

  &__scroller {
    overflow: auto;
    max-height: 250px;
    border-radius: $border-radius-small;
  }

  &__option {
    transition: background-color 0.2s $ease-out-expo;
    padding: 0.75em 1em 0.75em;
    // border-bottom: 1px solid var(--theme-background-200);
    background-color: var(--theme-background-150);
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: var(--theme-background-200);
      // box-shadow: 0 -1px rgba(black, 0.2);
      border-bottom-color: transparent;
      position: relative;
      z-index: 1;

      i.-action {
        display: block;
      }

      .dropdown-option__action {
        visibility: visible;
      }
    }

    span + i {
      margin-left: 1rem;
    }

    i {
      align-self: center;

      + i,
      + span {
        margin-left: 0.5rem;
      }
    }

    &.active {
      font-weight: 600;
      text-decoration: underline;
    }

    > div {
      padding: 0;
      margin: 0;
    }
  }

  &__label {
    display: inline-block;
    opacity: 0.5;

    &:after {
      content: ':';
      margin: 0 0.25em;
    }
  }
}

.dropdown-option {
  &__description {
    opacity: 0.5;
    font-size: 80%;
  }

  &__action {
    visibility: hidden;
  }
}

.dialog .dropdown.form-control {
  width: auto;
}

@keyframes dropdown-enter-bottom {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dropdown-leave-bottom {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(-5%);
    opacity: 0;
  }
}

@keyframes dropdown-enter-top {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(5%);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dropdown-leave-top {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(10%);
    opacity: 0;
  }
}
