@keyframes appear-from-above {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;

  &.form-control {
    .dropdown__selected:after {
      content: unicode($icon-down);
      font-family: 'icon';
      padding: 0 0.2em;
      position: relative;
      top: 1px;
    }

    .dropdown__option {
      font-family: 'Barlow';
    }
  }

  &.-left,
  &.-text-left {
    .dropdown__options {
      .dropdown__option {
        justify-content: flex-start;
        padding: 0.75em 1.4em 0.75em 1em;
      }
    }
  }

  &.-top {
    .dropdown__options {
      bottom: 2rem;
      top: auto;
    }
  }

  &.-left {
    .dropdown__options {
      right: auto;
      left: 0.6em;
    }
  }

  &__selected {
    position: relative;
    cursor: pointer;
  }

  &__options {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 0.6em;
    overflow: hidden;
    text-align: right;
    min-width: 5em;
    margin: 0;
    color: white;
    padding: 0;
    z-index: 1000;
    border-radius: $border-radius-base / 2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    white-space: nowrap;

    cursor: pointer;
  }

  &__scroller {
    overflow: auto;
    max-height: 250px;
    border-radius: $border-radius-base / 2 - 2;
  }

  &__option {
    transition: background-color 0.2s $ease-out-expo;
    padding: 0.75em 1.4em 0.75em 2em;
    border-bottom: 1px solid var(--theme-background-200);
    background-color: var(--theme-background-150);
    display: flex;
    justify-content: flex-end;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: var(--theme-background-200);
      box-shadow: 0 -1px rgba(black, 0.2);
      border-bottom-color: transparent;
      position: relative;
      z-index: 1;

      i.-action {
        display: block;
      }
    }

    span + i {
      margin-left: 1rem;
    }

    i {
      align-self: center;

      &.-action {
        display: none;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      &:first-child {
        margin-right: 0.5rem;
      }

      + i {
        margin-left: 0.5rem;
      }
    }

    &.active {
      font-weight: 600;
      text-decoration: underline;
    }

    > div {
      padding: 0.75em 1.4em 0.75em 2em;
      margin: -0.75em -1.4em -0.75em -2em;
    }
  }

  &__label {
    display: inline-block;
    opacity: 0.5;

    &:after {
      content: ':';
      margin: 0 0.25em;
    }
  }
}

.dropdown-option {
  &__description {
    opacity: 0.5;
    font-size: 80%;
  }
}

.dialog .dropdown.form-control {
  width: auto;
}