@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
      url('../fonts/Barlow-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
      url('../fonts/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
      url('../fonts/Barlow-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
