.form-group {
  > label {
    margin-bottom: 5px;
    line-height: 1.3;
    // font-family: 'Share Tech Mono';
    font-size: 0.875rem;
    display: block;

    .icon-info {
      margin-left: 2px;
      line-height: 0;
      top: 2px;
      position: relative;
      opacity: 0.3;
      transition: opacity 0.2s $ease-out-expo;
      cursor: help;

      &:hover {
        opacity: 1;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  label + .help-text {
    margin: -0.5em 0 0.5em;
  }

  .checkbox-control {
    margin-bottom: 0;
  }
}

.form-control {
  background: 0;
  padding: 0.5rem;
  border-radius: 3px;
  border: 0;
  width: calc(100% - 16px);
  letter-spacing: -0.5px;
  min-width: 0;
  font-size: 14px;
  margin: 0;
  color: inherit;
  font-family: inherit;
}

.help-text {
  line-height: 1.3;
  color: rgba(white, 0.6);

  a {
    text-decoration: underline;
  }
}

.form-control::-webkit-input-placeholder,
.form-control:-moz-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder {
  color: red;
}

.input-group {
  display: flex;

  > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .checkbox-control {
    align-items: stretch;

    > div {
      height: 100%;
      padding: 0 1.25em;
      width: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.checkbox-control {
  display: flex !important;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-right: auto;

  &.-label-left {
    > span {
      order: 1;
      margin-left: 0;
      margin-right: 0.5rem;
    }
    > div {
      order: 2;
    }
  }

  + .settings-chart__sub-settings {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.5em;
      width: 2px;
      background-color: rgba(white, 0.2);
    }
  }

  &.-slippage input ~ div {
    &:before,
    &:after {
      content: unicode($icon-flash);
    }
  }

  &.-rip input ~ div {
    &:before,
    &:after {
      content: unicode($icon-skull);
    }
  }

  &.-aggr input ~ div {
    &:before {
      content: unicode($icon-ms);
    }

    &:after {
      content: unicode($icon-cross);
    }
  }

  &.-animations input ~ div {
    &:before {
      content: unicode($icon-cross);
    }

    &:after {
      content: unicode($icon-magic);
    }
  }

  &.-auto input {
    ~ div {
      width: auto;
      display: flex;

      &:before,
      &:after {
        font-family: inherit;
        position: relative;
        line-height: 1;
        order: 0;
        font-size: 80%;
        line-height: 0.9rem;
      }

      i {
        order: 1;
        top: 0;
      }

      &:before {
        content: attr(on);
        display: none;
      }

      &:after {
        content: attr(off);
      }
    }

    &:checked ~ div {
      &:before {
        display: block;
      }

      &:after {
        display: none;
      }
    }
  }

  &.-cml-abs input {
    ~ div {
      &:before,
      &:after {
        font-family: inherit;
      }

      &:before {
        content: 'CML';
      }

      &:after {
        content: 'ABS';
      }
    }

    &:not(:checked) ~ div {
      background-color: $blue;
    }
  }

  input {
    display: none;

    &:checked {
      ~ div {
        background-color: $green;
        color: white;
        border-color: transparent;

        &:before,
        &:after {
          transition: all 0.5s $ease-out-expo;
        }

        &:before {
          opacity: 1;
          transform: none;
        }

        &:after {
          opacity: 0;
          transform: translateY(50%) skewY(20deg);
        }
      }
    }

    &:disabled ~ div {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &.-small {
    > div {
      padding: 0.25rem;
    }
  }

  > div {
    padding: 0.5rem;
    border: 1px solid $lighter;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    background-color: $lighter;
    transition: all 0.2s $ease-out-expo;
    position: relative;
    flex-shrink: 0;
    font-size: 1rem;

    &:before,
    &:after {
      font-family: 'icon';
      font-size: 1em;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-50%) skewY(-20deg);
      opacity: 0;
      transition: all 0.2s $ease-out-expo;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      pointer-events: none;
    }

    &:not([class^='icon-']):before {
      content: unicode($icon-check);
    }

    &:after {
      transform: none;
      opacity: 1;
    }
  }

  > span {
    line-height: 1;
  }

  div + span {
    margin-left: 0.5rem;
  }

  span + div {
    margin-left: 0.5rem;
  }
}

input[type='range'] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  height: 2.5em; /* Specified height */
  background: rgba(black, 0.5); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: ew-resize;
  margin: 0;
  width: auto;

  &.-reverse {
    transform: rotateZ(180deg);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 0.5em; /* Set a specific slider handle width */
    height: 2em; /* Slider handle height */
    background: lighten($green, 20%); /* Green background */
    cursor: ew-resize;
  }

  &::-moz-range-thumb {
    width: 0.5em; /* Set a specific slider handle width */
    height: 2em; /* Slider handle height */
    background: lighten($green, 20%); /* Green background */
    cursor: ew-resize;
  }

  &:hover,
  &:active {
    opacity: 1; /* Fully shown on mouse-over */

    &::-webkit-slider-thumb {
      transform: scale(1.1);
      background: white;
      box-shadow: 0 0 2px rgba(white, 0.2), 0 0 20px rgba(white, 0.5);
    }

    &::-moz-slider-thumb {
      transform: scale(1.1);
      background: white;
      box-shadow: 0 0 2px rgba(white, 0.2), 0 0 20px rgba(white, 0.5);
    }
  }
}

[contenteditable] {
  display: inline-block;
  cursor: text;
  color: $green;
  cursor: text;

  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;

  &:empty:before {
    content: attr(placeholder);
    opacity: 0.5;
  }

  &[disabled] {
    color: inherit;
    cursor: inherit;
  }
}

.form-feedback {
  color: lighten($red, 10%);
}

.pretty-print {
  max-height: 33vh;
  overflow: auto;
  overflow-x: hidden;
  font-size: 80%;

  .string {
    color: lighten($green, 10%);
  }
  .number {
    color: $blue;
  }
  .boolean {
    color: $orange;
  }
  .null {
    color: $red;
  }
  .key {
    color: rgba(white, 0.5);
  }
}

textarea.form-control {
  font-size: 12px;
  font-family: $font-monospace;
}

.serie__scale-margins {
  position: relative;
  > input[type='range'] {
    transform: rotateZ(90deg);
    height: 8rem;
    width: 3.5rem !important;
    position: absolute;
    right: 25%;
    top: -25%;
    cursor: ns-resize;

    + input[type='range'] {
      margin-top: 3.5rem;
      transform: rotateZ(-90deg);
    }

    &::-webkit-slider-thumb {
      height: 8rem;
      cursor: ns-resize;
    }

    &::-moz-range-thumb {
      height: 8rem;
      cursor: ns-resize;
    }
  }
}

#app.-light {
  .form-group > label {
    opacity: 0.75;
  }

  .checkbox-control > div {
    border-color: rgba(0, 0, 0, 0.1);
  }
}

.help-block {
  background-color: rgba(black, 0.2);
  padding: 1rem;

  code {
    color: white;
  }
}
