$iconpath: '../fonts';

@font-face {
  font-family: 'icon';
  src: url('#{$iconpath}/icon.ttf?ppu658') format('truetype'),
    url('#{$iconpath}/icon.woff?ppu658') format('woff'),
    url('#{$iconpath}/icon.svg?ppu658#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.-lower {
    position: relative;
    top: 1px;
  }

  &.-higher {
    position: relative;
    top: -1px;
  }

  &.-large {
    font-size: 1.5rem;
  }

  &.-small {
    font-size: 0.75em;
  }
}

.icon-bitcoin {
  &:before {
    content: $icon-bitcoin;
  }
}
.icon-btc {
  &:before {
    content: $icon-btc;
  }
}
.icon-dollar {
  &:before {
    content: $icon-dollar;
  }
}
.icon-down {
  &:before {
    content: $icon-down;
  }
}
.icon-eth {
  &:before {
    content: $icon-eth;
  }
}
.icon-euro {
  &:before {
    content: $icon-euro;
  }
}
.icon-volume-off {
  &:before {
    content: $icon-volume-off;
  }
}
.icon-monero {
  &:before {
    content: $icon-monero;
  }
}
.icon-pound {
  &:before {
    content: $icon-pound;
  }
}
.icon-merge {
  &:before {
    content: $icon-merge;
  }
}
.icon-up {
  &:before {
    content: $icon-up;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-yen {
  &:before {
    content: $icon-yen;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-coin {
  &:before {
    content: $icon-coin;
  }
}
.icon-flash {
  &:before {
    content: $icon-flash;
  }
}
.icon-volume-medium {
  &:before {
    content: $icon-volume-medium;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-resize {
  &:before {
    content: $icon-resize;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-external-link-square-alt {
  &:before {
    content: $icon-external-link-square-alt;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-KRAKEN {
  &:before {
    content: $icon-KRAKEN;
  }
}
.icon-OKEX {
  &:before {
    content: $icon-OKEX;
  }
}
.icon-down-thin {
  &:before {
    content: $icon-down-thin;
  }
}
.icon-skull {
  &:before {
    content: $icon-skull;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-POLONIEX {
  &:before {
    content: $icon-POLONIEX;
  }
}
.icon-visible {
  &:before {
    content: $icon-visible;
  }
}
.icon-hidden {
  &:before {
    content: $icon-hidden;
  }
}
.icon-up-thin {
  &:before {
    content: $icon-up-thin;
  }
}
.icon-volume-high {
  &:before {
    content: $icon-volume-high;
  }
}
.icon-COINEX {
  &:before {
    content: $icon-COINEX;
  }
}
.icon-BINANCE {
  &:before {
    content: $icon-BINANCE;
  }
}
.icon-BINANCE_FUTURES {
  &:before {
    content: $icon-BINANCE_FUTURES;
  }
}
.icon-BITFINEX {
  &:before {
    content: $icon-BITFINEX;
  }
}
.icon-BITMEX {
  &:before {
    content: $icon-BITMEX;
  }
}
.icon-HUOBI {
  &:before {
    content: $icon-HUOBI;
  }
}
.icon-xrp {
  &:before {
    content: $icon-xrp;
  }
}
.icon-ada {
  &:before {
    content: $icon-ada;
  }
}
.icon-trx {
  &:before {
    content: $icon-trx;
  }
}
.icon-neo {
  &:before {
    content: $icon-neo;
  }
}
.icon-ltc {
  &:before {
    content: $icon-ltc;
  }
}
.icon-xmr {
  &:before {
    content: $icon-xmr;
  }
}
.icon-iota {
  &:before {
    content: $icon-iota;
  }
}
.icon-eos {
  &:before {
    content: $icon-eos;
  }
}
.icon-bear {
  &:before {
    content: $icon-bear;
  }
}
.icon-bps {
  &:before {
    content: $icon-bps;
  }
}
.icon-ms {
  &:before {
    content: $icon-ms;
  }
}
.icon-pile {
  &:before {
    content: $icon-pile;
  }
}
.icon-HITBTC {
  &:before {
    content: $icon-HITBTC;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-dropper {
  &:before {
    content: $icon-dropper;
  }
}
.icon-COINBASE {
  &:before {
    content: $icon-COINBASE;
  }
}
.icon-DERIBIT {
  &:before {
    content: $icon-DERIBIT;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-click {
  &:before {
    content: $icon-click;
  }
}
.icon-BYBIT {
  &:before {
    content: $icon-BYBIT;
  }
}
.icon-BITSTAMP {
  &:before {
    content: $icon-BITSTAMP;
  }
}
.icon-FTX {
  &:before {
    content: $icon-FTX;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-stamp {
  &:before {
    content: $icon-stamp;
  }
}
.icon-copy-paste {
  &:before {
    content: $icon-copy-paste;
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard;
  }
}
.icon-more {
  &:before {
    content: $icon-more;
  }
}
.icon-bull {
  &:before {
    content: $icon-bull;
  }
}
.icon-resize-height {
  &:before {
    content: $icon-resize-height;
  }
}
.icon-add-photo {
  &:before {
    content: $icon-add-photo;
  }
}
.icon-candlestick {
  &:before {
    content: $icon-candlestick;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-music-note {
  &:before {
    content: $icon-music-note;
  }
}
.icon-PHEMEX {
  &:before {
    content: $icon-PHEMEX;
  }
}
.icon-eraser {
  &:before {
    content: $icon-eraser;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-enlarge {
  &:before {
    content: $icon-enlarge;
  }
}
.icon-locked {
  &:before {
    content: $icon-locked;
  }
}
.icon-unlocked {
  &:before {
    content: $icon-unlocked;
  }
}
.icon-move {
  &:before {
    content: $icon-move;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-star-filled {
  &:before {
    content: $icon-star-filled;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-gauge {
  &:before {
    content: $icon-gauge;
  }
}
.icon-DYDX {
  &:before {
    content: $icon-DYDX;
  }
}
.icon-BINANCE_US {
  &:before {
    content: $icon-BINANCE_US;
  }
}
.icon-flip {
  &:before {
    content: $icon-flip;
  }
}
.icon-switch {
  &:before {
    content: $icon-switch;
  }
}
