html {
  font-size: 16px;

  @media (-webkit-min-device-pixel-ratio: 2) {
    font-size: 14px;
  }
}

body {
  background-color: $dark;
  overflow-x: hidden;

  &.-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

#progress {
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  z-index: 1000;
  height: 100%;
  font-family: $font-monospace;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.25;
}

.-no-animations {
  animation: none !important;
  transition: none !important;

  * {
    animation: none !important;
    transition: none !important;

    &:before,
    &:after {
      animation: none !important;
      transition: none !important;
    }
  }
}

#app {
  width: 100%;
  position: relative;
  min-height: 100%;
  transition: transform 0.3s $ease-out-expo;
  color: white;
  overflow: hidden;
  background-color: var(--theme-background-base);
  color: var(--theme-color-base);

  &.-loading {
    .app__layout {
      transition: opacity 5s $ease-elastic;
      opacity: 0.9;
    }
  }

  .app-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.app__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app__layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0px;
}

.vue-grid-layout {
  flex-grow: 1;
}

.vue-grid-item {
  > div {
    width: 100%;
    height: 100%;
  }
}

.stack__wrapper {
  padding: 0.5em;
  position: relative;

  p {
    &:last-child {
      margin: 0;
    }
  }

  code {
    background-color: rgba(black, 0.2);
    font-weight: 400;
    padding: 3px 4px;
    line-height: 1;
    display: inline-block;
    position: relative;
    letter-spacing: -0.5px;
  }
}

.column {
  display: flex;
  flex-direction: row;

  &.-wrap {
    flex-wrap: wrap;
  }

  > .-tight {
    flex-basis: auto;
    flex-grow: 0;

    label {
      white-space: nowrap;
    }
  }

  > .-fill {
    flex-basis: 100%;
    max-width: 100%;
  }

  > .-center {
    align-self: center;
  }

  > .-end {
    align-self: end;
  }

  > .-start {
    align-self: start;
  }

  > .-nowrap {
    white-space: nowrap;
  }

  > .-fill-70 {
    flex-grow: 1;
    flex-basis: 70%;
  }

  > .-unshrinkable {
    flex-shrink: 0;
  }

  > div {
    margin-right: 8px;
    flex-grow: 1;

    > .btn {
      white-space: nowrap;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  > label {
    margin-bottom: 0;
  }
}

.grid {
  margin: -0.5em;

  > div {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    justify-content: center;
    padding: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }

    &.-tight {
      flex-grow: 0;
    }

    &.-inline {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;

      > label:first-child {
        margin: 0 0 0 0.5em;
      }
    }
  }
}

.-activable {
  > .form-group {
    opacity: 0.2;
  }

  &.active {
    .form-group {
      opacity: 1;
    }
  }
}

.flip-list-move {
  transition: transform 0.4s linear;
}

#app.-no-animations *.flip-list-move {
  transition: transform 0.2s linear !important;
}

.divider {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--theme-background-300);

  &:before,
  &:after {
    content: '';
    height: 1px;
    background-color: var(--theme-background-150);
    flex-grow: 1;
  }

  &:before {
    margin-right: 1rem;
  }

  &:after {
    margin-left: 1rem;
  }

  &.-vertical {
    margin: 0 1rem;
    flex-direction: column;
    align-items: center;

    &:before,
    &:after {
      height: auto;
      width: 1px;
      margin: 0;
    }

    &:before {
      margin-bottom: 1rem;
    }

    &:after {
      margin-top: 1rem;
    }
  }
}

blockquote {
  padding: 0.25rem 0.5rem;
  margin-left: 0;
  margin-bottom: 0;
  border-left: 1px solid white;
  opacity: 0.6;
  // font-family: $font-monospace;
}

code {
  font-family: $font-monospace;

  &.-filled {
    background-color: rgba(black, 0.2);
    color: var(--theme-color-base);
    border-radius: 4px;
    padding: 0.25rem;
  }
}

.section {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  position: relative;

  &:hover {
    background-color: var(--theme-color-o05);

    .section__title {
      opacity: 1;

      small {
        visibility: visible;
      }
    }
  }

  &__horizontal-scroll {
    overflow: auto;
    margin-right: -1em;
    margin-left: -1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  &__controls {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    line-height: 1;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: -1rem -1rem 0rem;
    padding: 1rem;
    color: var(--theme-color-base);
    cursor: pointer;

    small {
      visibility: hidden;
      margin-left: auto;
      opacity: 0.5;
      font-size: 12px;
      text-align: right;
      padding-left: 1rem;

      + .icon-up-thin {
        margin-left: 1rem;
      }
    }

    .icon-up-thin {
      transition: transform 0.2s $ease-elastic;
    }

    &:first-child {
      margin: -1rem;
      padding-bottom: 1rem;
      color: var(--theme-color-100);

      .icon-up-thin {
        transform: rotateZ(180deg);
      }
    }
  }

  &--small {
    padding: 0.5rem;

    .section__title {
      margin: -0.5rem -0.5rem 0.5rem;
      padding: 0.5rem;

      &:first-child {
        margin: -0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.mobile-dir-col-desktop-dir-row {
  flex-direction: column;

  .divider.-vertical,
  hr.-vertical {
    display: none;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    .divider.-horizontal,
    hr.-horizontal {
      display: none;
    }

    .divider.-vertical,
    hr.-vertical {
      display: flex;
    }
  }
}

@keyframes highlight {
  0% {
    opacity: 0.75;
  }

  100% {
    opacity: 0;
  }
}

.tv-lightweight-charts.-absolute {
  position: absolute;
  top: 0;
}
