.slide-notice-enter-active,
.slide-notice-leave-active {
  overflow: hidden;
}
.slide-notice-enter-active {
  transition: all 0.4s $ease-elastic, height 0.4s $ease-out-expo;
}
.slide-notice-leave-active {
  transition: all 1s $ease-out-expo;
}

.slide-notice-enter,
.slide-notice-leave-to {
  opacity: 0;
}

.slide-notice-enter {
  transform: translateX(50%);
}

.slide-notice-leave-to {
  transform: translate(50%, 50%);
}

.notices {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  list-style: none;
  margin: 0.5em;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .notice__title {
    max-width: 200px;

    &:last-child {
      max-width: 250px;
    }
  }
}

.notice {
  pointer-events: all;
  font-size: 12px;
  font-weight: 500;
  color: white;

  &__title {
    white-space: pre-line;
  }

  &__icon {
    padding: 0.25rem;

    &:before {
      top: -1px;
      line-height: 0;
      vertical-align: middle;
      position: relative;
    }
  }

  &__wrapper {
    padding: 0.33rem 0.5rem;
    border-radius: $border-radius-base;
    background-color: var(--theme-background-200);

    display: flex;

    align-items: center;
  }

  &.-error .notice__wrapper {
    background-color: var(--theme-sell-base);
    color: var(--theme-sell-color);
  }

  &.-warning .notice__wrapper {
    background-color: $orange;
    color: black;
  }

  &.-success .notice__wrapper {
    background-color: var(--theme-buy-base);
    color: var(--theme-buy-color);
  }

  > div {
    margin-bottom: 0.5em;
  }

  p {
    margin: 0;
    line-height: 1.4;
  }

  small {
    line-height: 1.4;
    margin-top: 0.5rem;
    display: block;
  }
}
