.vue-grid-layout {
  flex-grow: 1;

  .vue-grid-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    touch-action: none;
    overflow: hidden;

    &.vue-draggable-dragging,
    &.resizing {
      > div {
        pointer-events: none;
      }

      iframe {
        pointer-events: none !important;
      }
    }

    > div {
      width: 100%;
      height: 100%;
    }

    > .vue-resizable-handle {
      display: none;
      width: auto;
      height: auto;
      font-size: 1.5rem;
      width: 3rem;
      height: 3rem;
      text-align: center;
      z-index: 2;
      background: 0;
      padding: 0;
      line-height: 0;
      margin: 0;

      &:before {
        font-family: 'exchanges', 'icon';
        content: $icon-up-thin;
        transform: rotateZ(-225deg) scale(1);
        display: block;
        width: 2rem;
        height: 2rem;
      }
    }

    &:hover {
      z-index: 1;
      > .vue-resizable-handle {
        display: block;
      }

      .toolbar {
        display: flex;
      }

      overflow: visible;
    }

    &.vue-grid-placeholder {
      background-color: var(--theme-background-300);
    }

    &.-maximized {
      width: 100% !important;
      height: 100vh !important;
      position: fixed !important;
      transform: none !important;
      background: var(--theme-background-base);
      z-index: 1;
    }
  }
}

#app.-auto-hide-headers {
  .pane {

    .pane-header {
      position: absolute;

      &--split {
        position: absolute;
        top: 0;
        right: 0;

        .pane-header__name {
          flex-grow: 0;
        }

        .toolbar {
          flex-grow: 0 !important;
          margin-left: auto;
        }
      }

      .toolbar {
        display: none;
        flex-grow: 1;
      }
    }

    &:hover {
      .toolbar {
        display: flex;
      }
    }
  }
}

.pane-overlay {
  background-color: rgba(black, 0.5);
}

#app.-light {
  .vue-grid-item {
    > .vue-resizable-handle:hover {
      background-color: var(--theme-background-o20);
    }
  }

  .pane {
    background-color: rgba(white, 0.1);

    .pane-overlay {
      background-color: var(--theme-background-o75);
    }
  }
}

.pane {
  position: relative;
  background-color: rgba(black, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &.-large .pane-header + div {
    font-weight: 500;
  }
}

.pane-header {
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 4;
  height: 1.375em;
  background: 0;
  flex-shrink: 0;
  width: 100%;
  cursor: move;
  pointer-events: none;

  > div {
    pointer-events: all;
  }

  .pane.-small & {
    height: 1.429em;
  }

  .pane.-extra-small & {
    height: 1em;
  }

  .toolbar {
    display: none;
  }

  &__name {
    font-family: $font-condensed;
    align-self: stretch;
    display: inline-flex;
    font-size: 0.875em;
    padding: 0 0.375em;
    align-items: center;
    flex-grow: 1;

    .pane.-small & {
      font-size: 1em;
      line-height: 1rem;
      padding: 0 0 0 0.25em;
    }
  }

  &__divider {
    width: 1px;
    background-color: var(--theme-color-o75);
    margin: 0.4em 0.4em;
  }
}

.chart-overlay {
  display: none;
  position: absolute;
  z-index: 3;
  top: 1.5em;
  left: 0;
  bottom: 0;
  margin-top: 0.25em;
  margin-left: 0.25em;
  flex-direction: column;
  justify-content: flex-start;
  pointer-events: none;

  .pane.-small & {
    top: 1.429em;
    margin-top: 0.125em;
    margin-left: 0.125em;
  }

  .pane.-extra-small & {
    top: 1em;
    margin-top: 0;
    margin-left: 0;
  }

  > div {
    flex-shrink: 0;
    flex-basis: 0;
  }

  &__panel {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;

    > div {
      pointer-events: all;
      position: relative;
    }

    &:not(:last-child) {
      .chart-overlay__content {
        padding-bottom: 0.25em;

        .pane.-small & {
          padding-bottom: 0.125em;
        }

        .pane.-extra-small & {
          padding-bottom: 0;
        }
      }
    }
  }

  &__content {
    padding: 0;
    margin: 0;

    .btn {
      padding: 0.25em;
      font-size: 0.75em;
    }
  }

  &__head {
    cursor: pointer;
    user-select: none;
    place-self: flex-start;
    padding: 0.125em;
    display: flex;
    align-items: center;
    gap: 0.25em;
    line-height: 1;

    .pane.-small &,
    .pane.-extra-small & {
      padding: 1px;
    }

    .btn.badge {
      display: block;
    }

    &:first-child {
      .icon-up-thin {
        display: inline-block;
        transform: rotateZ(180deg);
      }
    }
  }

  &__title {
    font-size: 0.875em;
    margin-left: 0.125em;
  }
}

body.-unselectable #app.-auto-hide-headers .toolbar {
  display: none !important;
}

body.-dragging-market .pane * {
  pointer-events: none;
}
