.vue-grid-layout {
  .vue-grid-item {
    > .vue-resizable-handle {
      display: none;
      width: auto;
      height: auto;
      background: 0;
      font-size: 1rem;
      padding: 0.5rem;
      width: 2rem;
      height: 2rem;
      opacity: 0.2;

      &:before {
        font-family: 'icon';
        content: $icon-resize;
      }

      &:hover {
        opacity: 1;
        background-color: rgba(white, 0.2);
      }
    }

    &:hover > .vue-resizable-handle {
      display: block;
    }

    &.vue-grid-placeholder {
      background-color: $blue;
      opacity: 0.4;
    }

    &.-highlight {
      z-index: 1;

      .pane {
        z-index: 4;

        .pane-header {
          display: flex;
        }
      }
    }
  }
}

#app.-light {
  .vue-grid-item {
    > .vue-resizable-handle:hover {
      background-color: rgba(black, 0.2);
    }
  }
}

.pane {
  position: relative;
  background-color: rgba(black, 0.2);

  &:hover .pane-header {
    display: flex;

    /*+ * {
      transform: translateY(1.5rem);
      height: calc(100% - 1.5rem);
      overflow: hidden;
    }*/
  }
}

.pane-header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;

  &.toolbar {
    font-size: 1.5rem;
    display: none;

    .dropdown__selected > i,
    button > i {
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 0.125em;
    }

    > span,
    > button > span,
    .dropdown > .dropdown__selected > span {
      font-weight: 600;
      opacity: 1;
    }

    button,
    .dropdown__selected {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      background-clip: padding-box;
      transition: background-color 0.4s $ease-out-expo;
    }
  }

  &.-loading {
    .pane-header__loader {
      display: block;

      &:before,
      &:after {
        display: block;
      }
      &:before {
        background-color: rgba($blue, 0.1);
        animation: indeterminate-loading-bar-slow 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      }

      &:after {
        background-color: rgba($blue, 0.3);
        animation: indeterminate-loading-bar-fast 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.15s;
      }
    }

    + div {
      cursor: wait;
    }
  }

  @keyframes indeterminate-loading-bar-slow {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes indeterminate-loading-bar-fast {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }
}
