.vue-grid-layout {
  .vue-grid-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    touch-action: none;

    > .vue-resizable-handle {
      display: none;
      width: auto;
      height: auto;
      background: 0;
      font-size: 1rem;
      padding: 0.5rem;
      width: 2rem;
      height: 2rem;
      opacity: 0.5;

      &:before {
        font-family: 'icon';
        content: $icon-resize;
      }

      &:hover {
        opacity: 1;
        background-color: rgba(white, 0.2);
      }
    }

    &:hover > .vue-resizable-handle {
      display: block;
    }

    &.vue-grid-placeholder {
      background-color: $blue;
      opacity: 0.4;
    }

    &.resizing {
      .pane-header {
        display: none;
      }
    }

    &.-highlight {
      z-index: 1;

      .pane {
        z-index: 4;

        .pane-header {
          display: flex;
          z-index: 15;
        }
      }
    }
  }
}

#app.-light {
  .vue-grid-item {
    > .vue-resizable-handle:hover {
      background-color: rgba(black, 0.2);
    }
  }

  .pane {
    background-color: rgba(white, 0.2);
  }
}

.pane {
  position: relative;
  background-color: rgba(black, 0.2);
  width: 100%;
  height: 100%;
}

.pane-header {
  display: flex;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  background-color: var(--theme-background-o75);
  backdrop-filter: blur(10px);

  &.toolbar {
    .dropdown__selected > i,
    button > i {
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.4em;
      padding-bottom: 0.5em;
      font-size: 0.75em;
    }

    > span,
    > button > span,
    .dropdown > .dropdown__selected > span {
      opacity: 1;
    }

    > span.title-top-left {
      align-self: flex-start;
      padding: 0.75em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
    }

    button,
    .dropdown__selected {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    .dropdown .dropdown__options .dropdown__option {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  &__loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      background-clip: padding-box;
      transition: background-color 0.4s $ease-out-expo;
    }
  }

  &.-loading {
    .pane-header__loader {
      display: block;

      &:before,
      &:after {
        display: block;
      }
      &:before {
        background-color: var(--theme-background-o20);
        animation: indeterminate-loading-bar-slow 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      }

      &:after {
        background-color: var(--theme-background-o75);
        animation: indeterminate-loading-bar-fast 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.15s;
      }
    }

    + div {
      cursor: wait;
    }
  }

  @keyframes indeterminate-loading-bar-slow {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes indeterminate-loading-bar-fast {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }
}
