$spin-duration: 0.025s;

.lds-spinner {
  color: initial;
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  width: 1em;
  height: 1em;
}
.lds-spinner div {
  transform-origin: 0.5em 0.5em;
  animation: lds-spinner $spin-duration * 12 linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0.0375em;
  left: 0.4625em;
  width: 0.125em;
  height: 0.125em;
  border-radius: 2px;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -$spin-duration * 11;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -$spin-duration * 10;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -$spin-duration * 9;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -$spin-duration * 8;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -$spin-duration * 7;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -$spin-duration * 6;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -$spin-duration * 5;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -$spin-duration * 4;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -$spin-duration * 13;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -$spin-duration * 2;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -$spin-duration;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
