.table {
  width: 100%;
  border: 0;
  border-spacing: 0px;

  thead {
    th {
      text-align: left;
      padding: 0.42rem 0.5rem;
      font-weight: 400;
      border-bottom: 0;
      opacity: 0.6;
    }
  }

  &-input {
    position: relative;
    background-color: transparent;
    padding: 0.5em;

    i.icon {
      position: absolute;
      left: 7px;
      top: 7px;
      line-height: 1.45;
      color: var(--theme-buy-100);
    }

    .checkbox-control > div {
      width: 1.1em;
      height: 1.1em;
      padding: 0;
    }

    input {
      width: 100%;
      border: 0;
      padding: 0;
      background: 0;
      color: inherit;

      &[type='number'] {
        font-weight: 600;
      }
    }
  }

  &-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1px;
  }

  &-min {
    white-space: nowrap;
    width: 1px;
  }

  &-action {
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    min-width: 1px;
    padding: 0 0.25rem;
    text-align: center;
    width: 1px;

    &.-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.-hover .btn {
      visibility: hidden;
    }

    + .table-action {
      padding-left: 0;
    }

    .btn {
      display: block;
      height: 1.75rem;
      width: 1.75rem;
      font-size: 12px;
      display: inline-block;
      padding: 0;
      text-align: center;
    }
  }

  tr {
    &.-action {
      cursor: pointer;

      &:hover {
        background-color: var(--theme-color-o10);
      }
    }

    &.-divider {
      td {
        padding: 1rem 0;
        border: 0;
      }

      + tr > td {
        border-top: 0;
      }
    }

    &:first-child > td {
      border-top: 0;
    }

    + tr > td {
      //border-left: 1px solid var(--theme-color-o20);
      border-top: 1px solid var(--theme-background-200);

      &:first-child {
        border-left: 0;
      }
    }

    &:hover .table-action.-hover .btn {
      visibility: visible;
    }
  }

  td {
    + td {
      //border-left: 1px solid var(--theme-color-o20);
      border-top: 1px solid var(--theme-background-200);
    }
  }

  tr:last-child > td {
    border-bottom: 0;
  }
}
