.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  &__label {
    border: 0 !important;
    background: none !important;
    color: inherit;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: $font-condensed;
    font-size: 0.875em;
    text-transform: none;
    padding: 0 0.25em;

    &--768 {
      display: none;

      @media screen and (min-width: 768px) {
        display: inline-flex !important;
      }
    }

    .pane.-large & {
      font-size: 0.75em;
    }
  }

  .btn__loader {
    font-size: 0.625em;
  }
}
