.tippy-tooltip {
  max-width: 180px;
  filter: drop-shadow(-1rem -1rem 3rem var(--theme-background-base));
  color: white;
  background-color: rgba(black, 0.75);

  &.left-theme {
    text-align: left;
  }

  &.transparent-theme {
    background-color: transparent;

    .tippy-arrow {
      display: none;
    }
  }

  &.auto-theme {
    max-width: none;
    background-color: transparent;

    .tippy-arrow {
      display: none;
    }
  }
}

.tippy-popper[x-placement^='bottom'] {
  .tippy-arrow {
    border-bottom-color: rgba(black, 0.75);
    top: -8px;
  }

  .slider__label {
    bottom: auto;
    top: 2rem;

    &:before {
      bottom: auto;
      top: -0.5rem;
      border-width: 0 0.5rem 0.5rem 0.5rem;
      border-color: transparent transparent rgba(black, 0.75) transparent;
    }
  }
}

.tippy-popper[x-placement^='top'] .tippy-arrow {
  border-top-color: rgba(black, 0.75);
  bottom: -8px;
}

.tippy-popper[x-placement^='left'] .tippy-arrow {
  border-left-color: rgba(black, 0.75);
  right: -8px;
}
.tippy-popper[x-placement^='right'] .tippy-arrow {
  border-right-color: rgba(black, 0.75);
  left: -8px;
}
