$green: rgb(100, 157, 102);
$red: rgb(239, 67, 82);
$blue: #2196f3;
$orange: #fbc02d;
$dark: #171b29;
$text: #111111;
$pink: #e91e63;
$purple: #3e2161;
$base: desaturate(lighten($dark, 10%), 10%);
$light: #d5f0e9;
$lighter: lighten($base, 10%);
$darker: darken($base, 10%);

$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
$ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
$ease-elastic: cubic-bezier(0, 1.4, 1, 1);

$font-base: 'Barlow', sans-serif;
$font-monospace: 'Share Tech Mono', monospace;
$font-condensed: 'Barlow Semi Condensed', sans-serif;
$shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$accent: rgba(#708090, 0.5);
$checkerboard: linear-gradient(45deg, $accent 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, $accent 75%),
  linear-gradient(-45deg, $accent 25%, transparent 25%),
  linear-gradient(-45deg, transparent 75%, $accent 75%);
$border-radius-base: 6px;
$border-radius-small: 3px;

$icon-bitcoin: "\e900";
$icon-btc: "\e901";
$icon-dollar: "\e902";
$icon-down: "\e903";
$icon-eth: "\e904";
$icon-euro: "\e905";
$icon-volume-off: "\e906";
$icon-monero: "\e907";
$icon-pound: "\e908";
$icon-merge: "\e909";
$icon-up: "\e90a";
$icon-warning: "\e90b";
$icon-yen: "\e90c";
$icon-cog: "\e90d";
$icon-check: "\e90e";
$icon-coin: "\e90f";
$icon-flash: "\e910";
$icon-volume-medium: "\e911";
$icon-info: "\e912";
$icon-resize: "\e913";
$icon-download: "\e914";
$icon-external-link-square-alt: "\e915";
$icon-upload: "\e917";
$icon-cross: "\e918";
$icon-down-thin: "\e91d";
$icon-skull: "\e91e";
$icon-edit: "\e91f";
$icon-plus: "\e920";
$icon-minus: "\e916";
$icon-visible: "\e922";
$icon-hidden: "\e923";
$icon-up-thin: "\e924";
$icon-volume-high: "\e925";
$icon-xrp: "\e92c";
$icon-ada: "\e92d";
$icon-trx: "\e92e";
$icon-neo: "\e92f";
$icon-ltc: "\e930";
$icon-xmr: "\e931";
$icon-iota: "\e932";
$icon-eos: "\e933";
$icon-bear: "\e934";
$icon-bps: "\e935";
$icon-ms: "\e936";
$icon-pile: "\e937";
$icon-search: "\e939";
$icon-dropper: "\e93a";
$icon-trash: "\e93d";
$icon-click: "\e93e";
$icon-menu: "\e943";
$icon-stamp: "\e945";
$icon-copy-paste: "\e947";
$icon-dashboard: "\e948";
$icon-more: "\e949";
$icon-bull: "\e94a";
$icon-resize-height: "\e94b";
$icon-add-photo: "\e94c";
$icon-candlestick: "\e94d";
$icon-refresh: "\e94e";
$icon-music-note: "\e94f";
$icon-eraser: "\e953";
$icon-github: "\e954";
$icon-enlarge: "\e955";
$icon-locked: "\e956";
$icon-unlocked: "\e957";
$icon-move: "\e958";
$icon-star: "\e959";
$icon-star-filled: "\e95a";
$icon-save: "\e95b";
$icon-gauge: "\e95d";
$icon-flip: "\e919";
$icon-switch: "\e91a";
$icon-lab: "\e941";

@function unicode($str) {
  @return unquote('"') + $str + unquote('"');
}
/**
* EXCHANGES HEADER
* DO NOT CHANGE OR REMOVE
**/
$exchanges-BINANCE: "\e960";
$exchanges-BINANCE_FUTURES: "\e961";
$exchanges-BINANCE_US: "\e962";
$exchanges-BITFINEX: "\e963";
$exchanges-BITGET: "\e964";
$exchanges-BITMART: "\e965";
$exchanges-BITMEX: "\e966";
$exchanges-BITSTAMP: "\e967";
$exchanges-BYBIT: "\e968";
$exchanges-COINBASE: "\e969";
$exchanges-DERIBIT: "\e96a";
$exchanges-DYDX: "\e96b";
$exchanges-GATEIO: "\e96c";
$exchanges-HITBTC: "\e96d";
$exchanges-HUOBI: "\e96e";
$exchanges-KRAKEN: "\e96f";
$exchanges-KUCOIN: "\e970";
$exchanges-MEXC: "\e971";
$exchanges-OKEX: "\e972";
$exchanges-PHEMEX: "\e973";
$exchanges-POLONIEX: "\e974";
$exchanges-UNISWAP: "\e975";

$exchange-list: (
	'BINANCE': $exchanges-BINANCE,
	'BINANCE_FUTURES': $exchanges-BINANCE_FUTURES,
	'BINANCE_US': $exchanges-BINANCE_US,
	'BITFINEX': $exchanges-BITFINEX,
	'BITGET': $exchanges-BITGET,
	'BITMART': $exchanges-BITMART,
	'BITMEX': $exchanges-BITMEX,
	'BITSTAMP': $exchanges-BITSTAMP,
	'BYBIT': $exchanges-BYBIT,
	'COINBASE': $exchanges-COINBASE,
	'DERIBIT': $exchanges-DERIBIT,
	'DYDX': $exchanges-DYDX,
	'GATEIO': $exchanges-GATEIO,
	'HITBTC': $exchanges-HITBTC,
	'HUOBI': $exchanges-HUOBI,
	'KRAKEN': $exchanges-KRAKEN,
	'KUCOIN': $exchanges-KUCOIN,
	'MEXC': $exchanges-MEXC,
	'OKEX': $exchanges-OKEX,
	'PHEMEX': $exchanges-PHEMEX,
	'POLONIEX': $exchanges-POLONIEX,
	'UNISWAP': $exchanges-UNISWAP
);
/**
* EXCHANGES FOOTER
* DO NOT CHANGE OR REMOVE
**/
/**
* EXCHANGES HEADER
* DO NOT CHANGE OR REMOVE
**/
$exchanges-BINANCE: "\e960";
$exchanges-BINANCE_FUTURES: "\e961";
$exchanges-BINANCE_US: "\e962";
$exchanges-BITFINEX: "\e963";
$exchanges-BITGET: "\e964";
$exchanges-BITMART: "\e965";
$exchanges-BITMEX: "\e966";
$exchanges-BITSTAMP: "\e967";
$exchanges-BYBIT: "\e968";
$exchanges-COINBASE: "\e969";
$exchanges-DERIBIT: "\e96a";
$exchanges-DYDX: "\e96b";
$exchanges-GATEIO: "\e96c";
$exchanges-HITBTC: "\e96d";
$exchanges-HUOBI: "\e96e";
$exchanges-KRAKEN: "\e96f";
$exchanges-KUCOIN: "\e970";
$exchanges-MEXC: "\e971";
$exchanges-OKEX: "\e972";
$exchanges-PHEMEX: "\e973";
$exchanges-POLONIEX: "\e974";
$exchanges-UNISWAP: "\e975";

$exchange-list: (
	'BINANCE': $exchanges-BINANCE,
	'BINANCE_FUTURES': $exchanges-BINANCE_FUTURES,
	'BINANCE_US': $exchanges-BINANCE_US,
	'BITFINEX': $exchanges-BITFINEX,
	'BITGET': $exchanges-BITGET,
	'BITMART': $exchanges-BITMART,
	'BITMEX': $exchanges-BITMEX,
	'BITSTAMP': $exchanges-BITSTAMP,
	'BYBIT': $exchanges-BYBIT,
	'COINBASE': $exchanges-COINBASE,
	'DERIBIT': $exchanges-DERIBIT,
	'DYDX': $exchanges-DYDX,
	'GATEIO': $exchanges-GATEIO,
	'HITBTC': $exchanges-HITBTC,
	'HUOBI': $exchanges-HUOBI,
	'KRAKEN': $exchanges-KRAKEN,
	'KUCOIN': $exchanges-KUCOIN,
	'MEXC': $exchanges-MEXC,
	'OKEX': $exchanges-OKEX,
	'PHEMEX': $exchanges-PHEMEX,
	'POLONIEX': $exchanges-POLONIEX,
	'UNISWAP': $exchanges-UNISWAP
);
/**
* EXCHANGES FOOTER
* DO NOT CHANGE OR REMOVE
**/
