$green: rgb(100, 157, 102);
$red: rgb(239, 67, 82);
$blue: #2196f3;
$orange: #fbc02d;
$dark: #171b29;
$text: #111111;
$pink: #e91e63;
$purple: #3e2161;
$base: desaturate(lighten($dark, 10%), 10%);
$light: #d5f0e9;
$lighter: lighten($base, 10%);
$darker: darken($base, 10%);

$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
$ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
$ease-elastic: cubic-bezier(0, 1.4, 1, 1);

$font-base: 'Barlow', sans-serif;
$font-monospace: 'Spline Sans Mono', monospace;
$font-condensed: 'Barlow Semi Condensed', sans-serif;
$shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$accent: rgba(#708090, 0.5);
$checkerboard: linear-gradient(45deg, $accent 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, $accent 75%),
  linear-gradient(-45deg, $accent 25%, transparent 25%),
  linear-gradient(-45deg, transparent 75%, $accent 75%);
$border-radius-base: 6px;
$border-radius-small: 3px;

/* AUTO VAR INJECTION HEADER !! DO NOT MOVE !! */

$icon-AGGR: "\ea01";
$icon-ASTER: "\ea6a";
$icon-BINANCE: "\ea02";
$icon-BINANCE_FUTURES: "\ea03";
$icon-BINANCE_US: "\ea04";
$icon-BITFINEX: "\ea05";
$icon-BITGET: "\ea06";
$icon-BITMART: "\ea07";
$icon-BITMEX: "\ea08";
$icon-BITSTAMP: "\ea09";
$icon-BITUNIX: "\ea0a";
$icon-BYBIT: "\ea0b";
$icon-COINBASE: "\ea0c";
$icon-COINEX: "\ea0d";
$icon-CRYPTOCOM: "\ea0e";
$icon-DERIBIT: "\ea0f";
$icon-DYDX: "\ea10";
$icon-FTX: "\ea11";
$icon-GATEIO: "\ea12";
$icon-HITBTC: "\ea13";
$icon-HUOBI: "\ea14";
$icon-HYPERLIQUID: "\ea15";
$icon-KRAKEN: "\ea16";
$icon-KUCOIN: "\ea17";
$icon-MEXC: "\ea69";
$icon-MEXC_FUTURES: "\ea6b";
$icon-OKEX: "\ea19";
$icon-PHEMEX: "\ea1a";
$icon-POLONIEX: "\ea1b";
$icon-UNISWAP: "\ea1c";
$icon-WHITEBIT: "\ea1d";
$icon-ada: "\ea1e";
$icon-add-photo: "\ea1f";
$icon-bear: "\ea20";
$icon-bitcoin: "\ea21";
$icon-bps: "\ea22";
$icon-btc: "\ea23";
$icon-bull: "\ea24";
$icon-candlestick: "\ea25";
$icon-check: "\ea26";
$icon-click: "\ea27";
$icon-cog: "\ea28";
$icon-coin: "\ea29";
$icon-copy-paste: "\ea2a";
$icon-cross: "\ea2b";
$icon-dashboard: "\ea2c";
$icon-dollar: "\ea2d";
$icon-down-thin: "\ea2e";
$icon-down: "\ea2f";
$icon-download: "\ea30";
$icon-dropper: "\ea31";
$icon-edit: "\ea32";
$icon-enlarge: "\ea33";
$icon-eos: "\ea34";
$icon-eraser: "\ea35";
$icon-eth: "\ea36";
$icon-euro: "\ea37";
$icon-external-link-square-alt: "\ea38";
$icon-flash: "\ea39";
$icon-flip: "\ea3a";
$icon-gauge: "\ea3b";
$icon-github: "\ea3c";
$icon-hidden: "\ea3d";
$icon-info: "\ea3e";
$icon-iota: "\ea3f";
$icon-lab: "\ea40";
$icon-locked: "\ea41";
$icon-ltc: "\ea42";
$icon-menu: "\ea43";
$icon-merge: "\ea44";
$icon-minus: "\ea45";
$icon-monero: "\ea46";
$icon-more: "\ea47";
$icon-move: "\ea48";
$icon-ms: "\ea49";
$icon-music-note: "\ea4a";
$icon-neo: "\ea4b";
$icon-pile: "\ea4c";
$icon-plus: "\ea4d";
$icon-pound: "\ea4e";
$icon-refresh: "\ea4f";
$icon-resize-height: "\ea50";
$icon-resize: "\ea51";
$icon-save: "\ea52";
$icon-search: "\ea53";
$icon-skull: "\ea54";
$icon-sol: "\ea55";
$icon-stamp: "\ea56";
$icon-star-filled: "\ea57";
$icon-star: "\ea58";
$icon-switch: "\ea59";
$icon-trash: "\ea5a";
$icon-trx: "\ea5b";
$icon-unlocked: "\ea5c";
$icon-up-thin: "\ea5d";
$icon-up: "\ea5e";
$icon-upload: "\ea5f";
$icon-visible: "\ea60";
$icon-volume-high: "\ea61";
$icon-volume-medium: "\ea62";
$icon-volume-off: "\ea63";
$icon-warning: "\ea64";
$icon-xmr: "\ea65";
$icon-xrp: "\ea66";
$icon-yen: "\ea67";

/* AUTO VAR INJECTION FOOTER !! DO NOT MOVE !! */

$exchange-list: (
	'AGGR': $icon-AGGR,
	'ASTER': $icon-ASTER,
	'BINANCE': $icon-BINANCE,
	'BINANCE_FUTURES': $icon-BINANCE_FUTURES,
	'BINANCE_US': $icon-BINANCE_US,
	'BITFINEX': $icon-BITFINEX,
	'BITGET': $icon-BITGET,
	'BITUNIX': $icon-BITUNIX,
	'BITMART': $icon-BITMART,
	'BITMEX': $icon-BITMEX,
	'BITSTAMP': $icon-BITSTAMP,
	'BYBIT': $icon-BYBIT,
	'COINBASE': $icon-COINBASE,
	'CRYPTOCOM': $icon-CRYPTOCOM,
	'DERIBIT': $icon-DERIBIT,
	'DYDX': $icon-DYDX,
	'GATEIO': $icon-GATEIO,
	'HITBTC': $icon-HITBTC,
	'HUOBI': $icon-HUOBI,
	'HYPERLIQUID': $icon-HYPERLIQUID,
	'KRAKEN': $icon-KRAKEN,
	'KUCOIN': $icon-KUCOIN,
	'OKEX': $icon-OKEX,
	'PHEMEX': $icon-PHEMEX,
	'POLONIEX': $icon-POLONIEX,
	'WHITEBIT': $icon-WHITEBIT,
	'MEXC': $icon-MEXC,
);
