.verte {
  &__recent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;

    &-color {
      background-color: white;
      overflow: hidden;
      margin: 1px;
      width: 19px;
      height: 12px;
      background-color: currentColor;
      border-radius: 3px;
      opacity: 1;
    }
  }

  &__model,
  &__submit {
    border: 0;
    background: 0;
    appearance: none;
    color: white;
    font-family: 'Barlow Semi Condensed';
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__model {
    margin-right: 0.5rem;
    text-align: left;
  }

  &__submit {
    margin-left: 0.5rem;
    text-align: right;
  }

  &__inputs {
    display: flex;

    [contenteditable] {
      padding: .5rem;
      flex-grow: 1;
    }
  }

  &__controller {
    padding: 0.5rem 1rem;
  }

  &__recent-color {
    width: ((250px - 32 - 10 * 2) / 10);
  }
}

.dialog.-picker {
  .dialog-content {
    width: 250px;
    min-width: 0;
    background-color: transparent;
    
    color: white;

    header,
    footer {
      border: 0;
    }
  }

  .dialog-body {
    padding: 0;
    overflow: auto;
    background-color: black;
  }
}

.dialog.-picker .dialog-body::-webkit-scrollbar {
  width: 0;
}

.btn.verte-control {
  background-color: transparent;
  background-image: $checkerboard;
  background-size: 6px 6px;
  background-position: 0 0, 3px -3px, 0 3px, -3px 0px;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;

  .verte-control__color {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .icon-dropper {
    position: relative;
    z-index: 1;
  }
}
